{% extends "base.html" %}

{% block title %}Wedding Admin{% endblock %}

{% block body %}
  <body ng-app="June3App" ng-controller="AdminController as $ctrl" ng-cloak>
    <div ng-show="$ctrl.isLoading" layout="row" layout-align="center center"><md-progress-circular></md-progress-circular></div>
    <md-content layout="row" layout-align="stretch stretch" ng-show="!$ctrl.isLoading">
      <md-content class="admin-sidebar">
        <md-card class="admin-summary">
          <md-toolbar><div class="md-toolbar-tools"><h3>Summary</h3></div></md-toolbar>
          <md-card-content>Guests invited <span ng-bind="$ctrl.stats.numGuests"></span></md-card-content>
          <md-card-content>Responses received <span ng-bind="$ctrl.stats.numResponded"></span></md-card-content>
          <md-card-content>Guests attending <span ng-bind="$ctrl.stats.numAttending"></span></md-card-content>
          <md-card-content>Food</md-card-content>
          <md-card-content class="admin-summary-secondary" 
                           ng-repeat="(food_choice, count) in $ctrl.stats.foodChoices">
            %%food_choice%% <span ng-bind="count"></span>
          </md-card-content>
        </md-card>
        <md-card>
          <md-button href="/admin/api/invitation/bulk">Export guest list</md-button>
        </md-card>
        <md-card>
          <md-button ng-click="$ctrl.uploadGuestList()">Upload guest list</md-button>
        </md-card>
      </md-content>
      <md-content flex="grow">
      <md-card>
        <md-toolbar><div class="md-toolbar-tools"><h3>Details</h3></div></md-toolbar>
        <md-card-content class="admin-guest-table">
          <table>
            <colgroup>
              <col class="guest-number">
              <col class="guest-code">
              <col class="guest-name">
              <col class="guest-rsvp">
              <col class="guest-food">
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th>code</th>
                <th>Guest name</th>
                <th>RSVP</th>
                <th>Food choice</th>
              </tr>
            </thead>
          </table>
          <div class="admin-guest-table-data">
            <table>
              <colgroup>
                <col class="guest-number">
                <col class="guest-code">
                <col class="guest-name">
                <col class="guest-rsvp">
                <col class="guest-food">
              </colgroup>
              <tbody>
                <tr ng-repeat="guest in $ctrl.guests">
                  <td ng-bind="$index + 1 + '.'"></td>
                  <td ng-bind="guest.code"></td>
                  <td ng-bind="guest.name"></td>
                  <td ng-bind="guest.rsvp == 'coming' ? 'Yes' : guest.rsvp == 'not_coming' ? 'No' : '--'"></td>
                  <td ng-bind="guest.food_choice ? guest.food_choice.name : ''"></td>
                </tr>
              </tbody>
            </table>
          </div>        
        </md-card-content>
      </md-card>
      <md-card id="food-choices">
        <md-toolbar><div class="md-toolbar-tools"><h3>Food choices</h3></div></md-toolbar>
        <md-card-content>
          <form ng-repeat="foodChoice in $ctrl.foodChoices" ng-submit="$ctrl.updateFoodChoice(foodChoice)">
            <md-input-container>
              <label>Name</label>
              <input ng-model="foodChoice.name">
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <textarea ng-model="foodChoice.description"></textarea>
            </md-input-container>
            <md-button type="submit">Update</md-button>
            <md-button ng-click="$ctrl.deleteFoodChoice(foodChoice)">Delete</md-button>
          </form>
          <form ng-submit="$ctrl.createFoodChoice($event)">
            <md-input-container>
              <label>Name</label>
              <input name="name">
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <textarea name="description"></textarea>
            </md-input-container>
            <md-button type="submit">Add</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
  </body>
{% endblock %}
