<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <link href="/static/css/style.min.css" rel="stylesheet">
  <script src="/static/js/script.min.js"></script>
  <title>{% block title %}{% endblock %}</title>
  <body ng-app="Temp" ng-cloak>{% block body %}{% endblock %}
  <script type="text/javascript">angular.module('Temp', ['ngMaterial']);</script>
  </body>
</html>
