{% extends "base.html" %}

{% block title %}Kevin &amp; Theresa | June 3rd, 2017{% endblock %}

{% block body %}
  <script src='//www.google.com/recaptcha/api.js?render=explicit'></script>
  <body ng-app="June3App" ng-controller="PageController as $ctrl" ng-cloak id="top">
  <nav>
    <a href="#story" du-smooth-scroll>Our story</a>
    <a href="#logistics" du-smooth-scroll>Logistics</a>
    <a href="#registry" du-smooth-scroll>Registry</a>
    <a href="#rsvp" du-smooth-scroll>RSVP</a>
    <a href="#top" du-smooth-scroll ng-show="$ctrl.showUpArrow"><md-icon>arrow_upward</md-icon></a>
  </nav>

  <section class="hero" layout="row" layout-align="center center">
    <div class="title">
      <h1>
        <span>Kevin</span><span class="ampersand">&amp;</span>
        <br><span>Theresa</span>
      </h1>
      <h2>June 3, 2017</h2>
      <md-button href="#rsvp" du-smooth-scroll class="md-primary md-raised md-accent">RSVP</md-button>
    </div>
  </section>

  <section id="story" layout="column">
    <h3><span>Our story</span></h3>
    <div layout="row" layout-align="center stretch">
      <div flex=45 class="story">
        <p>Theresa and Kevin first met in their sophomore year at Lehigh University. They were first introduced by friends at a party and have since spent about 7 years together. After graduating from Lehigh, Kevin spent some time working in San Francisco while Theresa was in graduate school on Long Island, all the way across the country. They eventually found themselves together again in January 2014, when Kevin moved back to the east coast and settled in Brooklyn. They now reside together in Prospect Heights with their cuddly canine companion, Kaiser Roll.</p>

        <p>Kevin and Theresa have a lot in common: they both grew up in Southeastern PA (Kevin hails from Chester Springs, not too far from Theresa's childhood home of Spring Mount), they both love dogs, and they both can't seem to eat enough pizza. Now that they have found lifelong partners in life, love, and pizza-eating, they are excited to celebrate with friends and family in June 2017!</p>
      </div>
      <div flex=55 class="carousel">
        <div style="width: %%100 * $ctrl.slides.length%%%; left: -%%$ctrl.activeSlide * 100%%%">
          <div style="width: %%1 / $ctrl.slides.length * 100%%%; background-image: url('/static/assets/%%$index + 1%%.jpg')" 
               ng-repeat="slide in $ctrl.slides"
               layout="row"
               layout-align="end stretch">
            <span class="md-caption">%%slide%%</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="logistics">
    <h3><span>Logistics</span></h3>
    <div class="intro" layout="row" layout-align="center">
      <p flex="60">
        The ceremony will be taking place on <b>June 3, 2017 at 5pm</b>, with 
        reception to follow immediately. Please see below for details/directions 
        for the venue and hotel. 
      </p>
    </div> 
    <div layout="row" layout-align="space-between">
      <div flex="40">
        <div>
          <h3><span>Venue</span></h3>
          <div class="address" ng-click="$ctrl.showVenue()" ng-class="{active: $ctrl.showingVenue}">
            <h4>The Manor House at Prophecy Creek Park</h4>
            <p class="md-caption">
              205 West Skippack Pike, (Route 73)<br>
              Ambler, Pa. 19002
            </p>
            <div>
              <md-button href="https://maps.google.com/maps?ll=40.14541,-75.250103&z=16&t=m&hl=en-US&gl=US&mapclient=embed&daddr=The%20Manor%20House%20at%20Prophecy%20Creek%20Park%20205%20W%20Skippack%20Pike%20Ambler%2C%20PA%2019002@40.14541,-75.250103">Directions</md-button>
            </div>
          </div>
        </div>
        <div>
          <h3><span>Hotel</span></h3>
          <div class="address" ng-click="$ctrl.showHotel()" ng-class="{active: !$ctrl.showingVenue}">
            <h4>Courtyard Philadelphia Plymouth Meeting</h4>
            <p class="md-caption">
              651 Fountain Road<br>
              Plymouth Meeting, Pa. 19462
            </p>
            <div>
              <md-button href="https://maps.google.com/maps?ll=40.122177,-75.283163&z=16&t=m&hl=en-US&gl=US&mapclient=embed&daddr=Courtyard%20Philadelphia%20Plymouth%20Meeting%20651%20Fountain%20Rd%20Plymouth%20Meeting%2C%20PA%2019462@40.1221767,-75.283163">Directions</md-button> <span class="divider">|</span>
              <md-button href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Collins%20Elko%20Wedding%20Room%20Block%5Ephlcy%60CEWCEWA%7CCEWCEWB%60109.00-119.00%60USD%60false%601%606/3/17%606/4/17%605/13/17&app=resvlink&stop_mobi=yes">Make a reservation</md-button>
            </div>
          </div>
        </div>
      </div>
      <div class="logistics-map" flex="50" layout="column" layout-align="stretch">
        <div ng-show="$ctrl.loadingMap"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <div ng-show="!$ctrl.loadingMap">
          <iframe ng-show="$ctrl.showingVenue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3049.8594642353787!2d-75.25229168495976!3d40.145414080020075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6bc9dddab5417%3A0x74451dfec1110243!2sThe+Manor+House+at+Prophecy+Creek+Park!5e0!3m2!1sen!2sus!4v1480293384557" frameborder="0" allowfullscreen></iframe>
          <iframe ng-show="!$ctrl.showingVenue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.909095384814!2d-75.28568578496048!3d40.12202928143425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2e42701c72c5141!2sCourtyard+Philadelphia+Plymouth+Meeting!5e0!3m2!1sen!2sus!4v1480378870381" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section id="registry">
    <h3><span>Registry</span></h3>
    <div class="intro" layout="row" layout-align="center">
      <p flex="60">
        We have registries available at the following places, please feel free to choose whichever 
        you like!
      </p>
    </div> 
    <div layout ="row" layout-align="stretch stretch">
      <div>
        <a href="https://www.honeyfund.com/wedding/ElkoSeason2017">
          <img src="/static/assets/honey_fund.jpg" />
        </a> 
      </div>
      <div>
        <a href="http://www.crateandbarrel.com/gift-registry/theresa-collins-and-kevin-elko/r5603745">
          <img src="/static/assets/crate_and_barrel.png" />
        </a>
      </div>
    </div>
  </section>

  <section id="rsvp">
    <h3><span>RSVP</span></h3>
    
    <div layout="column" layout-align="center center">
      <form ng-submit="$ctrl.lookUpInvitation()" ng-show="$ctrl.rsvpFormState == 'initial'" layout="column" layout-align="center center">
        <p ng-show="$ctrl.errorMessage" ng-bind="$ctrl.errorMessage" class="md-error"></p>
        <p ng-show="!$ctrl.errorMessage">We hope you can join us!<br>Please enter your invitation code below to RSVP:</p>        
        <div>
          <md-input-container class="invitation-code">
            <label>Invitation code</label>
            <input type="text" ng-model="$ctrl.invitationCode">
          </md-input-container>
        </div>

        <div>
          <md-button type="submit" class="md-primary md-raised md-accent">Find invitation</md-button>
        </div>
      
      </form>

      <div ng-show="$ctrl.rsvpFormState == 'recaptcha'">  
        <div id="recaptcha-container"></div>
      </div>

      <div ng-show="$ctrl.rsvpFormState == 'rsvp'" class="rsvp-form-container">
        <div ng-repeat="guest in $ctrl.invitation.guests" layout="row" layout-align="start center" class="rsvp-form">
          <span ng-bind="guest.name" class="guest-name"></span>
          <md-input-container class="guest-rsvp">
            <label>RSVP</label>
            <md-select ng-model="guest.rsvp">
              <md-option value="coming">Coming!</md-option>
              <md-option value="not_coming">Sorry, can't make it.</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="guest-food">
            <label>Dinner selection</label>
            <md-select ng-model="guest.food_choice.id" ng-disabled="guest.rsvp != 'coming'">
              <md-option ng-repeat="food_choice in $ctrl.foodChoices" 
                        ng-value="food_choice.id" 
                        ng-bind="food_choice.name"
                        ng-if="guest.rsvp == 'coming'">
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="guest-notes">
            <label>Dietary restrictions</label>
            <input ng-disabled="guest.rsvp != 'coming'" ng-model="guest.dietary_notes" />
          </md-input-container>
        </div>
        <p ng-show="$ctrl.errorMessage" ng-bind="$ctrl.errorMessage" class="md-error"></p>
        <md-button ng-click="$ctrl.sendRsvp()" class="md-primary md-raised md-accent">Submit</md-button>
      </div>

      <div ng-show="$ctrl.rsvpFormState == 'final'">  
        <p>Thank you for your response!</p>
      </div>
    <div>
  </section>

  <section class="footer" layout="column" layout-align="center center">
    <div>
      Thank you!
    </div>
  </section>
  </body>
{% endblock %}
