{% extends "base.html" %}

{% block title %}Hello{% endblock %}
{% block body %}

  <nav>
    <a href="#story">Our story</a>
    <a href="#logistics">Logistics</a>
    <a href="#registry">Registry</a>
    <a href="#rsvp">RSVP</a>
  </nav>

  <section class="hero" layout="row" layout-align="center center">
    <div class="title">
      <h1><span>Kevin</span><span class="ampersand">&amp;</span><br><span>Theresa</span></h1>
      <h2>June 3, 2017</h2>
      <a href="#rsvp">RSVP</a>
    </div>
  </section>

{% endblock %}
