{% extends "base.html" %}

{% block title %}Kevin &amp; Theresa | June 3rd, 2017{% endblock %}

{% block body %}
  <nav>
    <a href="#story" du-smooth-scroll>Our story</a>
    <a href="#logistics" du-smooth-scroll>Logistics</a>
    <a href="#registry" du-smooth-scroll>Registry</a>
    <a href="#rsvp" du-smooth-scroll>RSVP</a>
    <a href="#top" du-smooth-scroll ng-show="$ctrl.showUpArrow"><i class="material-icons">arrow_upward</i></a>
  </nav>

  <section class="hero" layout="row" layout-align="center center">
    <div class="title">
      <h1>
        <span>Kevin</span><span class="ampersand">&amp;</span>
        <br><span>Theresa</span>
      </h1>
      <h2>June 3, 2017</h2>
      <a href="#rsvp" du-smooth-scroll>RSVP</a>
    </div>
  </section>

  <section id="story">
    
  </section>

  <section id="logistics">
    <h3><span>Logistics</span></h3>
    <div class="intro" layout="row" layout-align="center">
      <p flex="60">
        The ceremony will be taking place on <b>June 3, 2017 at 5pm</b>, with 
        reception to follow immediately. Please see below for details/directions 
        for the venue and hotel. 
      </p>
    </div> 
    <div layout="row" layout-align="space-between">
      <div flex="40">
        <div>
          <h3><span>Venue</span></h3>
          <div class="address" ng-click="$ctrl.showVenue()" ng-class="{active: $ctrl.showingVenue}">
            <h4>
              <a href="http://www.prophecycreekmanor.com/">
                The Manor House at Prophecy Creek Park
              </a>
            </h4>
            <p>
              205 West Skippack Pike, (Route 73)<br>
              Ambler, Pa. 19002
            </p>
          </div>
        </div>
        <div>
          <h3><span>Hotel</span></h3>
          <div class="address" ng-click="$ctrl.showHotel()" ng-class="{active: !$ctrl.showingVenue}">
            <h4>
              <a href="http://www.marriott.com/hotels/travel/phlcy-courtyard-philadelphia-plymouth-meeting/">
                Courtyard Philadelphia Plymouth Meeting
              </a>
            </h4>
            <p>
              651 Fountain Road<br>
              Plymouth Meeting, Pa. 19462
            </p>
          </div>
        </div>
      </div>
      <div flex="50" layout="column" layout-align="stretch">
        <div ng-show="$ctrl.loadingMap"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <div ng-show="!$ctrl.loadingMap" style="margin-top:25px;">
          <iframe ng-show="$ctrl.showingVenue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3049.8594642353787!2d-75.25229168495976!3d40.145414080020075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6bc9dddab5417%3A0x74451dfec1110243!2sThe+Manor+House+at+Prophecy+Creek+Park!5e0!3m2!1sen!2sus!4v1480293384557" frameborder="0" style="border:0; height:415px; width:500px;" allowfullscreen></iframe>
          <iframe ng-show="!$ctrl.showingVenue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.909095384814!2d-75.28568578496048!3d40.12202928143425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2e42701c72c5141!2sCourtyard+Philadelphia+Plymouth+Meeting!5e0!3m2!1sen!2sus!4v1480378870381" frameborder="0" style="border:0; height:415px; width:500px;" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </section>

  <section id="registry">
    <h3><span>Registry</span></h3>
    <div class="intro" layout="row" layout-align="center">
      <p flex="60">
        We have registries available at the following places, please feel free to choose whichever 
        you like!
      </p>
    </div> 
    <div layout ="row" layout-align="stretch stretch">
      <div>
        <a href="https://www.honeyfund.com/wedding/ElkoSeason2017">
          <img src="/static/assets/honey_fund.jpg" />
        </a> 
      </div>
      <div>
        <a href="http://www.crateandbarrel.com/gift-registry/theresa-collins-and-kevin-elko/r5603745">
          <img src="/static/assets/crate_and_barrel.png" />
        </a>
      </div>
    </div>
  </section>

  <section id="rsvp">
    <h3><span>RSVP</span></h3>
    <div layout="row" layout-align="center center" ng-show="!$ctrl.invitation">
      <form ng-submit="$ctrl.lookUpInvitation($event)">
        <label>Invitation code</label>
        <input type="text" ng-model="$ctrl.invitationCode">
        <div class="g-recaptcha" data-sitekey="6Lc1Rw0UAAAAAE0Ny9GzKrFE6bukJoAbO-a82CGf"></div>
        <md-button type="submit">Go</md-button>
      </form>
    </div>
    <div ng-show="$ctrl.invitation">
      <div ng-repeat="guest in $ctrl.invitation.guests" layout="column" layout-align="space-between">
        <div ng-bind="guest.name"></div>
        <div>
          RSVP:
          <md-radio-group ng-model="guest.rsvp">
            <md-radio-button value="coming">Coming!</md-radio-button>
            <md-radio-button value="not_coming">Sorry, can't make it.</md-radio-button>
          </md-radio-group>
        </div>
        <div ng-if="guest.rsvp == 'coming'">
          Food selection:
          <md-radio-group ng-model="guest.food_choice.id">
            <md-radio-button ng-repeat="food_choice in $ctrl.foodChoices" 
                             ng-value="food_choice.id">
              <span ng-bind="food_choice.name"></span>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <md-button ng-click="$ctrl.sendRsvp()">Submit</md-button>
    </div>
  </section>

  <section class="footer" layout="column" layout-align="center center">
    <div>
      Thank you!
    </div>
  </section>
{% endblock %}
