html, 
body {
  height: 100%;
}

body {
  color: #444;  
  margin: 0;
}

h1, h2, h3, h4, h5, nav a {
  font-family: 'Oswald', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  transition: background ease-out .6s;
  color: #adc67b;
}

img {
  max-width: 100%;
}

nav {
  background: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;

  a {
    color: #222 !important;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 10px;
    text-transform: uppercase;
  }

  a:hover {
    background: rgba(0, 0, 0, .1);
  }

  a[href="#top"] {
    position: absolute;
    right: -5px;
    font-size: 0;
  }
}

section {
  background: #fff;
  margin: 0 10px;
  min-height: 300px;
  padding-bottom: 25px;
  text-align: center;

  div {
    margin: auto;
    max-width: 1000px;
  }

  > h3 {
    color: #fecb9c;
  }

  h3 {
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 40px;
    text-align: center;

    span {
      background: #fff;
      display: inline-block;
      padding: 0 15px;
      position: relative;
      top: 11px;
    }
  }
}

section.hero {
  background: url('/static/assets/hero.jpg') no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 600px;
  padding: 0;

  div {
    background: rgba(255, 255, 255, .4);
    color: #222;
    max-width: 300px;
    padding: 15px 35px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .3);

    h1 {
      font-size: 50px;
      line-height: 60px;
      margin: 0;

      span {
        position: relative;
        z-index: 1;
      }

      .ampersand {
        color: #adc67b;
        text-shadow: 1px 1px rgba(0,0,0,0.6);
        font-family: 'Libre Baskerville', serif;
        font-size: 130px;
        font-style: italic;
        font-weight: 100;
        margin-right: -40px;
        position: relative;
        right: 30px;
        top: 35px;
        z-index: 0;
      }
    }

    h2 {
      border: 1px solid rgba(0, 0, 0, .3);
      border-width: 1px 0;
      text-align: center;
    }

    a {
      background: #df862d;
      color: #fff;
      display: block;
      padding: 10px 0;
      text-align: center;
    }

    a:hover {
      background: #fecb9c;
    }
  }
}

#logistics {
  iframe {
    margin-top: 30px;
  }
}

#registry {
  a {
    img {
      transition: opacity 0.6s ease-out;
    }

    img:hover {
      opacity: .5;
    }
  }
}

section.footer {
  background: #adc67b;
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 110px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}
