body {
  background: whitesmoke;
  color: #444;  
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, nav a {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
  position: relative;
  text-align: center;
  z-index: 1;

  a {
    color: #222;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 10px;
    transition: background ease-out .6s;
    text-transform: uppercase;
  }

  a:hover {
    background: rgba(0, 0, 0, .1);
  }
}

section {
  div {
    margin: auto;
    max-width: 1000px;
  }
}

section.hero {
  background: url('/static/assets/hero.jpg') no-repeat;
  background-size: cover;
  min-height: 600px;

  div {
    background: rgba(255, 255, 255, .4);
    color: #222;
    max-width: 300px;
    padding: 15px 35px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .3);

    h1 {
      font-size: 50px;
      line-height: 60px;
      margin: 0;

      span {
        position: relative;
        z-index: 1;
      }

      span.ampersand {
        color: #adc67b;
        text-shadow: 1px 1px rgba(0,0,0,0.6);
        font-family: 'Libre Baskerville', serif;
        font-size: 130px;
        font-style: italic;
        font-weight: 100;
        margin-right: -30px;
        position: relative;
        right: 30px;
        top: 35px;
        z-index: 0;
      }
    }

    h2 {
      border: 1px solid rgba(0, 0, 0, .3);
      border-width: 1px 0;
      text-align: center;
    }

    a {
      background: #fecb9c;
      color: #fff;
      display: block;
      padding: 10px 0;
      text-align: center;
    }
  }
}
