@import 'vars';

html, 
body {
  height: 100%;
}

body {
  color: #444;
  margin: 0;
}

h1, h2, h3, h4, h5, nav a {
  font-family: 'Oswald', sans-serif;
}

a,
a:visited, 
.md-button { 
  color: $color-green;
}

a {
  text-decoration: none;
  transition: background ease-out .6s;
}

img {
  max-width: 100%;
}

[ng-click]:focus {
  border: 0;
  outline: none;
}

nav {
  background: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;

  a {
    color: $color-gray !important;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 10px;
    text-transform: uppercase;
  }

  a:hover {
    background: rgba(0, 0, 0, .1);
  }

  a[href="#top"] {
    position: absolute;
    right: -5px;
    font-size: 0;
  }
}

section {
  background: #fff;
  margin: 0 10px;
  min-height: 300px;
  padding-bottom: 25px;
  text-align: center;

  div {
    margin: auto;
    max-width: 1000px;
  }

  > h3 {
    color: $color-orange-light;
  }

  h3 {
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 40px;
    text-align: center;

    span {
      background: #fff;
      display: inline-block;
      padding: 0 15px;
      position: relative;
      top: 11px;
    }
  }
}

section.hero {
  background: url('/static/assets/hero.jpg') no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 600px;
  padding: 0;

  div {
    background: rgba(255, 255, 255, .4);
    color: $color-gray;
    max-width: 300px;
    padding: 15px 35px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .3);

    h1 {
      font-size: 50px;
      line-height: 60px;
      margin: 0;

      span {
        position: relative;
        z-index: 1;
      }

      .ampersand {
        color: $color-green;
        text-shadow: 1px 1px rgba(0,0,0,0.6);
        font-family: 'Libre Baskerville', serif;
        font-size: 130px;
        font-style: italic;
        font-weight: 100;
        margin-right: -40px;
        position: relative;
        right: 30px;
        top: 35px;
        z-index: 0;
      }
    }

    h2 {
      border: 1px solid rgba(0, 0, 0, .3);
      border-width: 1px 0;
      text-align: center;
    }

    .md-button {
      margin: 0;
      width: 100%;
    }
  }
}

#story {
  
  > div {
    background: $color-offwhite;
  }

  .story {
    padding: 5px 25px;
    text-align: left;
  
    p:first-child:first-letter { 
      color: $color-green;
      float: left; 
      font-family: 'Libre Baskerville', serif;
      font-size: 80px;
      line-height: 75px;
      padding: 0 15px 0 0;
    }
  }


}

#logistics {
  iframe {
    border: 0px;
    height: 495px;
    margin-top: 10px;
    width: 500px;
  }

  .address {
    cursor: default;
    margin: 0 25px 15px;
    padding: 10px 0 15px;
  }

  .address:hover,
  .address.active {
    background: $color-offwhite;
  }

  .divider {
    opacity: .3;
  }
}

#registry {
  a {
    img {
      transition: opacity 0.6s ease-out;
    }

    img:hover {
      opacity: .5;
    }
  }
}

section.footer {
  background: $color-green;
  color: $color-white;
  font-family: 'Libre Baskerville', serif;
  font-size: 110px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

#rsvp {
  > div {
    min-height: 232px;
  }

  md-input-container.invitation-code {
    input {
      text-align: center;
      text-transform: uppercase;
    }
    margin-bottom: 10px;
  }

  md-input-container.invitation-code.md-input-focused label,
  md-input-container.invitation-code.md-input-has-value label {
    transform: translate3d(10%, 6px, 0) scale(.75);
  }

  .md-error {
    color: $color-red;
  }

  .md-errors-spacer {
    display: none;
  }

  .rsvp-form {
    text-align: left;

    .guest-name {
      width: 250px;
    }

    .guest-rsvp {
      width: 180px;
    }

    .guest-food {
      width: 250px;
    }

    .guest-notes {
      width: 150px;
    }
  }
}

.admin-sidebar {
  width: 415px;

  .admin-summary {
    md-card-content {
      border-bottom: 1px solid rgba(0, 0, 0, .03);
      
      span {
        float: right;
        font-weight: bold;
      }
    }

    .admin-summary-secondary {
      background: $color-offwhite;
      padding-left: 40px;
    }
  }

}

.admin-guest-table {

  table {
    border-collapse: collapse;
    width: 100%;

    .guest-number,
    .guest-rsvp {
      width: 40px;
    }

    .guest-code {
      width: 100px;
    }

    .guest-food {
      width: 200px;
    }

    tr:nth-child(even) {
      background: $color-offwhite;
    } 

    th {
      background: $color-orange-light;
      text-align: left;
    }

    td, th {
      padding: 8px;
    }
  }

  .admin-guest-table-data {
    max-height: 425px;
    overflow-y: scroll;
  }
}

@import 'mobile';
