@import 'vars';

@media screen and (max-width: 980px) {
  #logistics {
    div, p {
      display: block;
      max-width: 100%;
    }

    .logistics-map {
      display: none;
    }

    .address:hover,
    .address.active {
      background: #fff !important;
    }
  }
}

@media screen and (max-width: 650px) {
  
  nav {
    a {
      padding: 10px 20px;
      margin: 0; 
      font-size: 12px;
    }

    a[href="#top"] {
      display: none;
    }
  }

  #logistics {
    .divider {
      display: none;
    }
  }

  #registry {
    div, p {
      display: block;
      max-width: 100%;
    }

    img {
      max-width: 75%;
    }
  }

  #rsvp {
    .rsvp-form-container {
      width: 100%;
      
      .rsvp-form {
        display: block;
      }

      .rsvp-form > * {
        display: block;
        margin-left: 25px;
        max-width: 300px;
        width: 100% !important;
      }

      .guest-name {
        padding: 15px 0 20px;
        text-align: center;
      }
    }
  }

  section.footer {
    font-size: 60px !important;
  }
}
